h1 {
  /* color: red; */
}

/* p {
  background-color: blue;
} */

.text-1 {
  background-color: orange;
}

.text-2 {
  background-color: lightgreen;
}

.text-3 {
  background-color: lightblue;
}

.text-block-1 {
  background-color: lightcoral;
}

/* a {
  background-color: black;
  color: white;
} */

.links-block {
  background-color: red;
}

.text-block {
  background-color: lightskyblue;
}

.important {
  background-color: red;
}

.last {
  /* paragraph is block */
  background-color: lightgreen;
  /* display: block; */
  display: inline;
}

.link {
  background-color: yellow;
  /* display: inline; */
  display: block;
}

.section-1 {
  background-color: lightpink;
}

.section-2 {
  background-color: lightpink;
}

.section-3 {
  background-color: lightpink;
}

.section-4 {
  background-color: lightpink;
}
